{% extends 'UserHome/base.html' %}
{% load static %}
{% block title %}Add to Wallet{% endblock %}
{% block content %}
		<!--start page wrapper -->
		<div class="page-wrapper">
			<div class="page-content">
				<!--start breadcrumb-->
				<section class="py-3 border-bottom border-top d-none d-md-flex bg-light">
					<div class="container">
						<div class="page-breadcrumb d-flex align-items-center">
							<h3 class="breadcrumb-title pe-3">Add to Wallet</h3>
							<div class="ms-auto">
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb mb-0 p-0">
										<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i>Home</a>
										</li>
										<li class="breadcrumb-item"><a href="user_profile:account:;">Account</a>
										</li>
										<li class="breadcrumb-item" aria-current="page">Wallet</li>
										<li class="breadcrumb-item active" aria-current="page">Add Money</li>
									</ol>
								</nav>
							</div>
						</div>
					</div>
				</section>
				<!--end breadcrumb-->
				<!--start shop cart-->
				<section class="py-4">
					<div class="container">
						<h3 class="d-none">Account</h3>
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col-lg-4">
										<div class="card shadow-none mb-3 mb-lg-0 border">
											<div class="card-body">
												<div class="list-group list-group-flush">	
													<a href="{% url 'user_profile:account' %}" class="list-group-item d-flex justify-content-between align-items-center bg-transparent">Account Details <i class='bx bx-user-circle fs-5'></i></a>
													<a href="{% url 'user_profile:orders' %}" class="list-group-item d-flex justify-content-between align-items-center bg-transparent">My Orders <i class='bx bx-cart-alt fs-5'></i></a>
													<a href="{% url 'user_profile:addresses' %}" class="list-group-item d-flex justify-content-between align-items-center bg-transparent">Addresses <i class='bx bx-home-smile fs-5'></i></a>
													<a href="{% url 'user_profile:wallet' %}" class="list-group-item bg-success d-flex justify-content-between align-items-center text-white">Wallet <i class='bx bx-wallet fs-5'></i></a>
													<a href="{% url 'user_profile:coupon' %}" class="list-group-item d-flex justify-content-between align-items-center bg-transparent">Coupon and Referral <i class='bx bx-tag fs-5'></i></a>
													<a href="{% url 'logout' %}" class="list-group-item d-flex justify-content-between align-items-center bg-transparent">Logout <i class='bx bx-log-out fs-5'></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-8">
										<div class="card shadow-none border rounded mb-0 p-2 bg-light">
											<div class="card-body">
												<div class="d-flex d-flex justify-content-between">
													<h4 class="mb-4 fw-bold">Add Money</h4>
													<a href="{% url 'user_profile:wallet' %}"><button class="btn bg-dark fw-bold text-white rounded" style="font-size: 14px;">< Back to Wallet</button></a>
												</div>
												<div class="row">
													<div class="p-3">
														<label for="amount">Amount in ₹: </label>
														<input type="number" id="amount" name="amount" class="rounded px-2" min="1">
													</div>
												</div>
												<div class="row">
													<div class="">
														<button id="rzp-button1" class="btn btn-primary rounded fw-bold">Pay with Razorpay</button>
													</div>
												</div>

												
												<!--end row-->
											</div>
										</div>
									</div>
								</div>
								<!--end row-->
							</div>
						</div>
					</div>
				</section>
				<!--end shop cart-->
			</div>
		</div>
		<!--end page wrapper -->


		<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
		<script>
			$(document).ready(function () {

				var rzp1;
				
		
				$('#rzp-button1').click(function (e) { 
					e.preventDefault();
					console.log('before ajax')
					var amount = $('#amount').val();
					var token=$("[name='csrfmiddlewaretoken']").val();
					$.ajax({
						type: "POST",
						url: "{% url 'user_profile:razorpay_wallet' %}", 
						headers: { "X-CSRFToken": "{{ csrf_token }}" },
						data: { amount: amount }, 
						success: function (response) {
						console.log(response)
						var options = {
							"key": response.RAZOR_KEY_ID,
							"amount":parseInt(response.total_amount) ,
							"currency": "INR",
							"name": "SoleMate",
							"description": "Test Transaction",
							"image": "{% static 'Admin/assets/images/brand.jpg' %}",
							"handler": function (responseb){
							console.log(responseb)
								data={
								"amount":response.total_amount,
								csrfmiddlewaretoken:token
								}
								
								$.ajax({
								type: "POST",
								url: "{% url 'user_profile:razorpay_add_to_wallet' %}",
								headers: { "X-CSRFToken": "{{ csrf_token }}" },
								data: data,
								
								success: function(data) {
									console.log(data)

									$('body').html(data);
								},
								});
								
							},
							"prefill": {
								"name": response.name,
								"email": response.email,
								"contact": response.phone_no,
							},
							"theme": {
								"color": "#3399cc"
							}
						};
						rzp1 = new Razorpay(options);
						rzp1.on('payment.failed', function (response){
								console.log(response)
						});
						rzp1.open();
					}
					});
				});
		
				$(window).on('unload', function(){
					if (rzp1) {
					rzp1.close();
					}
				});
		   });
		</script>
		{% endblock %}