{% extends 'AdminHome/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Delivery Charge{% endblock %}

{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h2>Delivery Charge</h2>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Order Management</a></li>
                <li class="breadcrumb-item active"><a href="#">Manage Delivery Charge</a></li>
              </ol>
            </nav>
        </div>
        <a href="{% url 'admin_order:add_delivery_charge' %}" class="btn btn-gradient-info btn-lg mb-3">+ Add City</a>
        <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Available Cities</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>City</th>
                                <th>Charge</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in delivery_charges %}
                            <tr>
                                <td>{{ item.city }}</td>
                                <td>{{ item.amount }}</td>
                                <td class="text-center">
                                    <a href="{% url 'admin_order:edit_delivery_charge' item.id %}" class="btn btn-gradient-primary btn-sm mx-2">Edit</a>
                                    <a href="{% url 'admin_order:delete_delivery_charge' item.id %}" class="btn btn-gradient-danger btn-sm ">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                        

                        </tbody>
                    </table>
                </div>
              </div>
            </div>
          </div>
        </div>
</div>


{% endblock %}