{% extends 'UserHome/base.html' %}

{% block title %}
Payment Failed
{% endblock %}

{% block content %}
		<!--start page wrapper -->
		<div class="page-wrapper">
			<div class="page-content">
				<!--start breadcrumb-->
				<section class="py-3 border-bottom border-top d-none d-md-flex bg-light">
					<div class="container">
						<div class="page-breadcrumb d-flex align-items-center">
							<h3 class="breadcrumb-title pe-3">Payment Failed</h3>
							<div class="ms-auto">
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb mb-0 p-0">
										<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i> Home</a>
										</li>
										<li class="breadcrumb-item"><a href="javascript:;">Ordres</a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">Payment Failed</li>
									</ol>
								</nav>
							</div>
						</div>
					</div>
				</section>
				<!--end breadcrumb-->
				<!--start shop cart-->
				<section class="py-4">
					<div class="container">
						<div class="card py-3 mt-sm-3">
							<div class="card-body text-center">
								<h2 class="h4 pb-3 text-danger">Oops! your payment failed. Please try again</h2>
								<p class="fs-sm mb-2"></p>
								</p>
									<h6 class="fs-sm text-secondary">You can choose to comlpete the payment from the order section. <u>You can now:</u>
								</h6>
								<div>
									<a class="btn btn-success rounded mt-3 me-3 fw-bold" href="{% url 'shop' %}">Go back to shopping</a>
									<a class="btn btn-dark rounded mt-3 me-3 fw-bold" href="{% url 'user_profile:all_order_items' %}">Go to My Orders</a>
									<a class="btn btn-light rounded mt-3 fw-bold" href="{% url 'user_profile:order_tracking' %}"><i class='bx bx-map'></i>Track order</a>
								</div>
								
							</div>
						</div>
					</div>
				</section>
				<!--end shop cart-->
			</div>
		</div>
		<!--end page wrapper -->
		{% endblock %}