{% extends 'AdminHome/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Monthly Sales{% endblock %}

{% block style %}


{% endblock %}

{% block content %}

        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h2 class="page-title"> Monthly Sales </h2>
              <a href="{% url 'AdminHome:home' %}"><button class="btn btn-gradient-dark btn-md rounded">Back to Dashboard</button></a>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Admin Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                  <li class="breadcrumb-item active" aria-current="page">Monthly Sales Report</li>
                </ol>
              </nav>
            </div>
            <div class="row">
                <div class="col-md-4 stretch-card grid-margin">
                  <div class="card bg-gradient-danger card-img-holder text-white">
                    <a href="{% url 'AdminHome:daily_sales_page' %}" class="text-decoration-none text-white">
                      <div class="card-body">
                        <img src="{% static 'Admin/assets/images/dashboard/circle.svg' %}" class="card-img-absolute" alt="circle-image" />
                        <h4 class="font-weight-normal mb-3">Daily Sales Chart<i class="mdi mdi-chart-line mdi-24px float-right"></i>
                        </h4>
                      </div>
                    </div>                    
                    </a>
                  </div>
                  <div class="col-md-4 stretch-card grid-margin">
                    <div class="card bg-gradient-info card-img-holder text-white">
                      <a href="{% url 'AdminHome:weekly_sales_page' %}" class="text-decoration-none text-white">
                      <div class="card-body">
                        <img src="{% static 'Admin/assets/images/dashboard/circle.svg' %}" class="card-img-absolute" alt="circle-image" />
                        <h4 class="font-weight-normal mb-3">Weekly Sales Chart<i class="mdi mdi-chart-areaspline mdi-24px float-right"></i>
                        </h4>
                      </div>
                    </div>
                  </a>
                  </div>
                  <div class="col-md-4 stretch-card grid-margin">
                    <div class="card bg-gradient-success card-img-holder text-white">
                      <a href="{% url 'AdminHome:monthly_sales_page' %}" class="text-decoration-none text-white">
                      <div class="card-body">
                        <img src="{% static 'Admin/assets/images/dashboard/circle.svg' %}" class="card-img-absolute" alt="circle-image" />
                        <h4 class="font-weight-normal mb-3">Monthly Sales Chart<i class="mdi mdi-chart-bar mdi-24px float-right"></i>
                        </h4>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Monthly Sales Report</h4>
                            <canvas id="monthlySalesChart" style="height:230px"></canvas>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    {% endblock %}

    {% block script %}
    <script src="{% static 'Admin/assets/vendors/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'Admin/assets/js/chart.js' %}"></script>

    <script>
        fetch('/admin-monthly-sales/')  // Assuming this URL corresponds to your Django view
        .then(response => response.json())
        .then(data => {
            const dates = data.dates;
            const sales = data.sales;

            // Render the bar chart using Chart.js
            const ctx = document.getElementById('monthlySalesChart').getContext('2d');
            const dailySalesChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: dates,
                    datasets: [{
                        label: 'Monthly Sales',
                        data: sales,
                        backgroundColor: 'rgba(0, 204, 153, 0.5)',
                        borderColor: 'rgba(0, 204, 153, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        });
    </script>
  
    {% endblock %}