{% extends 'AdminHome/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Category{% endblock %}

{% block style %}

{% endblock %}

{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h2>Category</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Product Management</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Manage Category</li>
                </ol>
            </nav>
        </div>

        <a href="{% url 'admin_product_management:add_category' %}" class="btn btn-gradient-info btn-lg mb-3">+ Add Category</a>
        <a href="{% url 'admin_product_management:unlisted_categories' %}" class="btn btn-gradient-dark btn-lg mb-3 mx-2">Unlisted Categories</a>
        
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Categories</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th style="text-align: center;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for category in categories %}
                                    <tr>
                                        <td ><img src="{{ category.image.url }}" alt="{{ category.name }}" style="height: 100px; width:auto"></td>
                                        <td>{{ category.name }}</td>
                                        <td>
                                            <div class="truncated-description">
                                                {{ category.description | slice:":15" }}
                                                {% if category.description|length > 15 %}
                                                    <span class="expand-description text-primary">...more</span>
                                                    <span class="full-description" style="display: none;">
                                                        {{ category.description | slice:"15:" }}
                                                    </span>
                                                {% endif %}
                                            </div>
                                        </td>
                                        <td style="text-align: center;">
                                            <a href="{% url 'admin_product_management:edit_category' category.id %}" class="btn btn-gradient-primary btn-sm mx-2">Edit</a>
                                            <a href="{% url 'admin_product_management:unlist_category' category.id %}" class="btn btn-gradient-dark btn-sm">Unlist</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>


{% endblock %}
