{% extends 'AdminHome/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}edit Brand{% endblock %}

{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h2>Edit Brand</h2>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Product Management</a></li>
                <li class="breadcrumb-item active" aria-current="page">Manage Brand</li>
                <li class="breadcrumb-item active" aria-current="page">Edit Brand</li>
              </ol>
            </nav>
        </div>
        <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Brand Form</h4>
                <p class="card-description"> Edit the name, image and description for your Brand </p>
                <form class="forms-sample" method="post" id="myForm" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.name|as_crispy_field }}
                    <img src="{{ brand.image.url }}" alt="" style="height: 100px; border-radius: 10px">
                    {{ form.image|as_crispy_field }}
                                    
                    <button type="submit" class="btn btn-gradient-info mr-2">Save</button>
                    <button class="btn btn-gradient-dark mr-2" type="button" onclick="clearForm()">Default</button>
                    <a href="{% url 'admin_product_management:brand' %}" class="btn btn-gradient-light mr-2">Cancel</a>

                </form>
              </div>
            </div>
          </div>
    </div>
</div>
<script>
    function clearForm() {
        document.getElementById("myForm").reset();
    }
</script>

{% endblock %}