{% extends 'AdminHome/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Product{% endblock %}
{% block style %}
<style>
    .product-name {
        max-width: 150px; /* Adjust as needed */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>
{% endblock %}


{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h2>Product</h2>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Product Management</a></li>
                <li class="breadcrumb-item active" aria-current="page">Manage Product</li>
              </ol>
            </nav>
        </div>
        <a type="button" href="{% url 'admin_product_management:add_product' %}" class="btn btn-gradient-info btn-lg mb-3 ">+ Add Product</a>
        <a type="button" href="{% url 'admin_product_management:deleted_product' %}" class="btn btn-gradient-dark btn-lg mb-3 mx-3"> Unlisted Products</a>
        
        <form method="GET" action="{% url 'admin_product_management:product' %}">
        <div class="input-group mb-3">
            <input type="text" name="q" class="form-control" placeholder="Search..." aria-label="Search" aria-describedby="search-button">
            <button class="btn btn-gradient-warning btn-lg ms-1" type="submit" id="search-button">Search</button>
        </div>
        </form>
        

        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Products</h4>
                        <div class="table-responsive" style="overflow-x: auto; max-width: 100%;">
                            <table class="table" border="1" style="border-color: #5050503f; border-radius: 18px; table-layout: fixed; width: 100%;">
                                <thead>
                                    <tr>
                                        <th style="text-align: center; width: 120px;">Thumbnail</th>
                                        <th style="text-align: center; width: 120px;">Name</th>
                                        <th style="text-align: center; width: 80px;">Brand</th>
                                        <th style="text-align: center; width: 80px;">Category</th>
                                        <th style="text-align: center; width: 70px;">Color</th>
                                        <th style="text-align: center; width: 80px;">Price</th>
                                        <th style="text-align: center; width: 70px;">Offer</th>
                                        <th style="text-align: center; width: 180px;">Varient</th>
                                        <th style="text-align: center; width: 100px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in paginated_objects %}
                                    <tr>
                                        <td ><img src="{{ product.thumbnail.url }}" alt="{{ product.name }}" style="height: 60px; width: 110px;"></td>
                                        <td>
                                            <div class="product-name">{{ product.name }}</div>
                                        </td>
                                        <td>{{ product.brand }}</td>
                                        <td>{{ product.category }}</td>
                                        <td>{{ product.color }}</td>
                                        <td>₹{{ product.price }}</td>
                                        <td>
                                            {% if product.offer %}
                                                {{ product.offer.percent }}%
                                            {% else %}
                                                No Offer
                                            {% endif %}
                                        </td>
                                        <td style="font-size: 13px;">
                                            {% if product.variants %}
                                                <ul style="font-size: inherit;">
                                                    {% for variant in product.variants %}
                                                        <li>Size: {{ variant.size }}, Quantity: {{ variant.quantity }}</li>
                                                    {% endfor %}
                                                </ul>
                                            {% else %}
                                                NIL
                                            {% endif %}
                                        </td>
                                        
                                        

                                        <td>
                                            <div style="display: flex; flex-direction: column;">
                                                <a href="{% url 'admin_product_management:view_product' product.id %}" class="btn btn-gradient-light btn-sm my-1">View</a>
                                                <a href="{% url 'admin_product_management:edit_product' product.id %}" class="btn btn-gradient-primary btn-sm my-1">Edit</a>
                                                <a href="{% url 'admin_product_management:delete_product' product.id %}" class="btn btn-gradient-dark btn-sm my-1">Unlist</a>
                                            </div>
                                        </td>
                                        

                                    </tr>
                                {% endfor %}
                                

                                </tbody>
                            </table>

                            

                        </div>
                    </div>
                </div>
            </div>
        </div>

                            <div class="d-flex justify-content-center mt-4">
                                <ul class="pagination">
                                    {% if paginated_objects.has_previous %}
                                        <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
                                        <li class="page-item"><a class="page-link" href="?page={{ paginated_objects.previous_page_number }}">Previous</a></li>
                                    {% endif %}
                            
                                    {% for num in paginated_objects.paginator.page_range %}
                                        {% if num == paginated_objects.number %}
                                            <li class="page-item active" aria-current="page"><span class="page-link">{{ num }}<span class="visually-hidden"></span></span></li>
                                        {% else %}
                                            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                            
                                    {% if paginated_objects.has_next %}
                                        <li class="page-item"><a class="page-link" href="?page={{ paginated_objects.next_page_number }}">Next</a></li>
                                        <li class="page-item"><a class="page-link" href="?page={{ paginated_objects.paginator.num_pages }}">Last &raquo;</a></li>
                                    {% endif %}
                                </ul>
                            </div>

    </div>
</div>
{% endblock %}